@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Roles</strong>
            </li>
        </ol>
    </div>
</div>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <strong>@TempData["Success"]</strong>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <strong>@TempData["Error"]</strong>
    </div>
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Roles</h5>
					<div class="ibox-tools">
                        @Html.ActionLink("Create New Role", "Create", null, new { @class = "btn btn-primary btn-xs" })
                        @Html.ActionLink("Manage User Role", "ManageUsers", null, new { @class = "btn btn-primary btn-xs" })
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            S.N.
        </th>
        <th>
            Role Name
        </th>
        </th>
        <th>Actions</th>
    </tr>

@{
    int counter = 1;
}
@foreach (var role in Model)
{
    <tr>
        <td>
            @(counter++)
        </td>
        <td>
            @role.Name
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { roleName = @role.Name }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name }, new { @class = "btn btn-white btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { roleName = @role.Name }, new { @class = "btn btn-white btn-sm" })
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



