@model LibraryManagement.Models.BookCopy

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details BookCopy</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rack.rack_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rack.rack_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookCopyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookCopyNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loan_status)
        </dt>

        <dd>
            @if (Model.loan_status == true)
            {
                @:<div class="badge badge-danger">On Loan</div>
            }
            else
            {
                @:<div class="badge badge-primary">In Library</div>
            }
        </dd>
                     
                        @if (Model.Loans.Count() > 0)
                        {
                            <hr />
                            <h4>Book Copies Loan History</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Loan ID</th>
                                        <th>Book Title</th>
                                        <th>Book Copy No</th>
                                        <th>Date Out</th>
                                        <th>Loan Staff</th>
                                        <th>Date Due</th>
                                        <th>Member</th>
                                        <th>Returned Date</th>
                                        <th>Return Staff</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var loan in Model.Loans.OrderBy(l => l.date_out))
                                    {
                                        <tr>
                                            <td>@loan.loanID</td>
                                            <td>@loan.BookCopy.Book.title</td>
                                            <td>@loan.BookCopy.bookCopyNo</td>
                                            <td>@loan.date_out.ToString("MM/dd/yyyy")</td>
                                            <td>@loan.LoanLogs.First(ll => ll.loan_type == "Out").username</td>
                                            <td>@loan.date_due.Value.ToString("MM/dd/yyyy")</td>
                                            <td>@loan.Member.first_name @loan.Member.last_name</td>
                                            <td>
                                                @if (loan.date_returned == null)
                                                {
                                                    @:<div class="badge badge-danger">Not Returned</div>

                                                }else {
                                                @loan.date_returned.Value.ToString("MM/dd/yyyy")}
                                            </td>
                                            <td>@if(loan.LoanLogs.Where(ll => ll.loan_type == "Return").Count() > 0) {
                                                <span>@loan.LoanLogs.First(ll => ll.loan_type == "Return").username</span>
                                            }</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
    </dl>
@if (Model.loan_status == true)
{
    @Html.ActionLink("Return", "Return", "BookCopy", new { id = Model.bookCopyID }, new { @class = "btn btn-danger active" })
}
else
{
    @Html.ActionLink("Loan", "Loan", "BookCopy", new { id = Model.bookCopyID }, new { @class = "btn btn-danger active" })
}

	    @Html.ActionLink("Edit", "Edit", new { id = Model.bookCopyID }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













