@model IEnumerable<LibraryManagement.Models.BookCopy>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>BookCopy</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        @TempData["Error"]
    </div>
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of BookCopy</h5>
					<div class="ibox-tools">
                         @Html.ActionLink("Delete All Old Copies", "DeleteOld", null, new { @class = "btn btn-danger btn-xs" })						
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rack.rack_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookCopyNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.added_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loan_status)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rack.rack_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookCopyNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.added_date)
        </td>
        <td>
            @if (item.loan_status == true)
            {
                @:<div class="badge badge-danger">On Loan</div>
            }else
            {
                @:<div class="badge badge-primary">In Library</div>
            }
        </td>
        <td>
            @if (item.loan_status == true)
            {
                @Html.ActionLink("Return", "Return", "BookCopy", new { id = item.bookCopyID }, new { @class = "btn btn-primary active btn-sm" })
            }
            else
            {
                @Html.ActionLink("Loan", "Loan", "BookCopy", new { id = item.bookCopyID }, new { @class = "btn btn-danger active btn-sm" })
            }
			@Html.ActionLink("Details", "Details", new { id=item.bookCopyID }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.bookCopyID }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.bookCopyID }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



