@model IEnumerable<LibraryManagement.Models.Loan>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Book Copy On Loan</strong>
            </li>
        </ol>
    </div>
</div>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <strong>@TempData["Success"]</strong>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <strong>@TempData["Error"]</strong>
    </div>
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Book Copies on Loan</h5>
					<div class="ibox-tools">
                        @Html.ActionLink("Old Book Copies", "Old", null, new { @class = "btn btn-danger btn-xs" })
                        @Html.ActionLink("All Book Copies", "Index", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_out)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCopy.Book.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCopy.bookCopyNo)
        </th>
        <th>
            Loan Member
        </th>
        <th>
            Loan Staff
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_out)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookCopy.Book.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookCopy.bookCopyNo)
        </td>
        <td>
            @Html.ActionLink(item.Member.first_name + " " + item.Member.last_name, "Details", "Member", new { id = item.Member.memberID }, new { @class = "btn btn-default active btn-block btn-xs" })
        </td>
        <td>
            @{
                var log = item.LoanLogs.First(ll => ll.loan_type == "Out");
            }

            <span>@log.username</span>
        </td>
        <td>
            
                @Html.ActionLink("Return", "Return", "BookCopy", new { id = item.bookCopyID }, new { @class = "btn btn-primary active btn-sm" })

           
			@Html.ActionLink("Details", "Details", new { id=item.bookCopyID }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.bookCopyID }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.bookCopyID }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



