@model LibraryManagement.Models.Book

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details Book</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Publisher Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.published_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.published_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.standard_charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.standard_charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.penalty_charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.penalty_charge)
        </dd>

    </dl>
                    @if (Model.Authors.Count() > 0)
                    {
                        <hr />
                        <h4>Authors</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Author ID</th>
                                    <th>Author Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var author in Model.Authors)
                                {
                                    <tr>
                                        <td>@author.authorID</td>
                                        <td>@author.first_name @author.last_name</td>
                                        <td>@Html.ActionLink("View", "Details", "Author", new { id = author.authorID }, new { @class = "btn btn-primary active btn-xs" })
</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    @if (Model.BookCategories.Count() > 0)
                    {
                        <hr />
                        <h4>Book Categories</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Book Category ID</th>
                                    <th>Book Category Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var bookCategory in Model.BookCategories)
                                {
                                    <tr>
                                        <td>@bookCategory.bookCategoryID</td>
                                        <td>@bookCategory.category_name</td>
                                        <td>
                                            @Html.ActionLink("View", "Details", "BookCategory", new { id = bookCategory.bookCategoryID }, new { @class = "btn btn-primary active btn-xs" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    } @if (Model.BookCopies.Count() > 0)
                    {
                        <hr />
                        <h4>Book Copies</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Book Copy Number</th>
                                    <th>Book Copy Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var bookCopy in Model.BookCopies)
                                {
                                    <tr>
                                        <td>@bookCopy.bookCopyNo</td>
                                         <td>
                                            @if (bookCopy.loan_status == true)
                                            {
                                                  @:<div class="badge badge-danger">On Loan</div>
                                            }else
                                            {
                                                @:<div class="badge badge-primary">In Library</div>
                                            }
                                        </td>
                                        <td>
                                              @Html.ActionLink("View", "Details", "BookCopy", new { id = bookCopy.bookCopyID }, new { @class = "btn btn-primary active btn-xs" })
@if (bookCopy.loan_status == true)
{
                                              @Html.ActionLink("Return", "Return", "BookCopy", new { id = bookCopy.bookCopyID }, new { @class = "btn btn-danger active btn-xs" })
}
else
{
                                              @Html.ActionLink("Loan", "Loan", "BookCopy", new { id = bookCopy.bookCopyID }, new { @class = "btn btn-danger active btn-xs" })
}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

	    @Html.ActionLink("Edit", "Edit", new { id = Model.bookID }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













