@model IEnumerable<LibraryManagement.Models.Book>

@{
    ViewBag.Title = "Index";
}
    
@ViewBag.ResultMessage

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Book</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Book</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            S.N.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.standard_charge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.penalty_charge)
        </th>
        <th>
            Authors
        </th>
        <th>Actions</th>
    </tr>
@{
    int counter = 1;
}
@foreach (var item in Model)
{
    <tr>
        <td>
            @(counter++)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.standard_charge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.penalty_charge)
        </td>
        <td>
            @if (item.Authors != null)
            {
                foreach (var author in item.Authors)
                {
                    @Html.ActionLink(author.first_name + " " + author.last_name, "Details", "Author", new { id = author.authorID }, new { @class = "btn btn-default active btn-block btn-xs" })

                }
            }
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.bookID }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Edit", "Edit", new { id = item.bookID }, new { @class = "btn btn-white btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id = item.bookID }, new { @class = "btn btn-white btn-sm" })
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



