@model IEnumerable<LibraryManagement.Models.Loan>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Loan</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Loan</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            S.N.
        </th>
        <th>
            Book Copy No
        </th>
        <th>
            Loan Type
        </th>
        <th>
            Member Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_out)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_returned)
        </th>
        <th>Actions</th>
    </tr>
    @{ 
        int counter = 1;
    }
@foreach (var item in Model) {
    <tr>
        <td>
            @(counter++)
        </td>   
        <td>
            @Html.DisplayFor(modelItem => item.BookCopy.bookCopyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanType.loan_type_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.first_name) @Html.DisplayFor(modelItem => item.Member.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_out)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_due)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_returned)
        </td>
        <td>
			@Html.ActionLink("Details", "Details", new { id=item.loanID }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id=item.loanID }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Delete", "Delete", new { id=item.loanID }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



